{% extends "secure_base.html" %}
{% load staticfiles %}

{% block jquery_ready %}
loadDataList()
$('#encrypt_pass').keyup(function(e){
	var code = e.keyCode ? e.keyCode : e.which;
	if (code == 13)
	{
		$(this).blur();
		saveData()
	}
});
var orig_w = $('#plain_title').innerWidth()
$('#plain_title').blur(function(){
	$(this).innerWidth(orig_w);
});
$('#plain_title').focus(function(){
	setTW("");
});
function setTW(newkey){
	var t = $('#plain_title');
	var newval = esc(t.val() + newkey).replace(/ /g, '&nbsp;');
	var text_w = $('#text_w');
	text_w.html(newval);
	var w = text_w.innerWidth() + 15;
	var setw = w > orig_w ? w : orig_w;
	$(t).innerWidth(setw);
//	console.log('setw is ' + setw + ' and w is ' + w);
}
$('#plain_title').keypress(function(e){
	var code = e.which;
	newkey = String.fromCharCode(code);
	setTW(newkey);
});
$('#plain_title').keyup(function(){
	$('#overwrite').prop('checked', false);
	setTW("");
	var t = $('#plain_title');
	var v = t.val();
	if (v.length > max_title_len)
		t.addClass('alertError');
	else
		t.removeClass('alertError');
});
$('#plain_text').change(function(){
	text_changed = true;
});
{% endblock %}

{% block add_header %}
<script type="text/javascript" src="{% static "js/sjcl.js" %}"></script>
<script>
	var max_title_len = {{ max_title_len }};
	var stored_data = {}
	{% for d in stored_data %}
	stored_data['{{ d.title|safe }}'] = { data: '{{ d.data|safe }}', mod: '{{ d.last_mod|date:"U" }}' };
	{% endfor %}

</script>

{% endblock %}

{% block body %}

<div id='content'>
	<div id='explain_it'>
		<h1>Store data securely</h1>
		<p>Store data that can only be accessed by you. All encryption and decryption is done in your browser, using the password that you enter, when you enter it. The data that is stored on the server is always encrypted, so even the web site operator cannot access your data.
		<p>Encryption is done using industry standard AES encryption, which is virtually uncrackable. The library used is the Stanford Javascript Crypto Library (<a href='http://crypto.stanford.edu/sjcl/'>More info can be found here.</a>).
	</div>
	<div id='alertBar'></div>
	<div id='stored_data_div' class=round>
		<h1 style='border-bottom: 1px solid black;'>Stored Data</h1>
		<div id='theData'>
		</div>
	</div>
	<div style='' class='mainDivs'>
		<div id='title_line'>
			<input tabindex="1" type=text id='plain_title' class='textin big_text'>
			<input type=button id='clearData' value='Clear Data' onclick='clearPlain()'>
		</div>
		<span class='big_text no_wrap' id='text_w'></span>
		<textarea tabindex="2" class='ta' id='plain_text'></textarea><br>
		Password: <input tabindex="3" type=password id='encrypt_pass' class='textin'><br>
		<input tabindex="4" type=button id='saveButt' value='Save' onclick='saveData()' Xdisabled=true>
		<input type=checkbox id='overwrite' Xdisabled=true> Overwrite Data
		<br>
	</div>

</div>
<div id='view_popup' class=round></div>
{% endblock %}
